#none{
 background-color: antiquewhite;
 display: none;
}
input
{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
body{
    background-color: aqua;
 

}
#img
{
    width: 100px;
}
.karusel{
background-color: blue;
width: 300px;
margin: 50px 0;
}